body {
  background-color: black;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 100vh;
}
.img {
  width: 500px;
}

.show {
  display: block;
}

.hide {
  display: none;
}
